.input-wrapper{
    display:flex;
    justify-content:space-between;

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px 5px;
        cursor: pointer;
    }
}

// :host-context(.form-field_error) {
//     input {
//         border: 1px solid $error;
//     }
// }