.confirm-registration{
    width:60%;
    margin:50px auto;
    text-align: center;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // padding:30px;

}