.employees-list{
    width:90%;
    margin:10px auto;
    padding:20px;
    display: flex;
    justify-content: space-evenly;

    .item{
        width:50% !important;
        @media (max-width:678px){
        width:100% !important;
        }
    }
    @media (max-width:678px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
}