@import 'src/assets/styles/colors.scss';

.not-found-container{
    width:44%;
    height:50vh;
    margin:30px auto;
    text-align: center;

    p{
        margin:20px 0px;
        font-size: 30px;
        font-weight: 600;
        color:$primary-dark;
    }

    img{
        width:100%;
        border-radius: 50%;
    }
}